@use 'tailwindcss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.header {
  border-bottom: 1px solid #006175;
  text-align: center;

  h1 {
    margin: 0;
    margin-bottom: 0px;
    font-size: 24px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    a {
      padding: 8px 4px;
      text-decoration: none;
      color: #006175;
      font-size: 18px;
    }
  }
}
